{% extends "registration/registration_base.html" %}
{% load i18n %}

{% block title %}{% trans "Reset password" %}{% endblock %}

{% block content %}
<div class="col s12 m6 container">
    <div class="card-panel grey lighten-3">
        <div class="container">
        <p>
            {% blocktrans %}
            <h5><span class="green-text">Forgot</span> your password?</h5>
            Enter your email in the form below and we'll send you instructions for creating a new one.
            {% endblocktrans %}
        </p>
        <form method="post" action="">
            {% csrf_token %}
            {{ form.as_p }}
            <input class="input-field green darken-3 btn"  type="submit" value="{% trans 'Reset password' %}" />
        </form>
        </div>
    </div>
</div>
{% endblock %}

