/* 

  .my-card-content {
      padding: 16px;
  }
  .my-card {
    height: 350px;
    width: 350px;
  }


.header {
    left: 40%;
    position: absolute;
}

.grid-container {
    display: grid;
    grid-template-columns: auto auto auto auto;
}



 .farm-title {
     text-decoration: none;
     color: antiquewhite;
 }

 body {
   background-color: green;
 } */

 /* #map {
  object-fit: cover;
 } */

 .slider .btn {
    margin-top: 20px;
    border-radius: 2rem;
  }
  
  .section-search input {
    padding: 5px !important;
    font-size: 18px !important;
    width: 90% !important;
    border: #f4f4f4 3px solid !important;
  }
  
  .section-follow .fa-4x {
    margin: 5px 10px;
  }
  
  .section-contact h5 {
    margin-bottom: 30px;
  }
  
  .input-field {
    border-radius: 1rem;
  }

  .text-card {
    padding-top: 5%;
  }

  .content {
    min-height: calc(100vh - 70px);
  }
  .footer {
    height: 50px;
  }

  .search-text {
      font-weight: 100;
  }

  .slider-text {
      text-shadow: 2px 4px rgb(53, 53, 53);
      color: antiquewhite;
  }

  .image {
      filter:brightness(45%) ;
  }

  #autocomplete-input {
      border-radius: 1rem;
  }



  /* mapbox styling below! */

  /* .sidebar {
    width: 33.3333%;
    height: 100%;
  }
   */
  /* .sideCard {
    right: 23%;
    height: 275px;
    display: block;

  } */

  .farm-list {
    margin: 0px 10px;
  }

  .map {
    border-left: 1px solid #fff;
    /* position: relative; */
    left: 0%;
    right: 2%; */
    width: 100%; 
    height:100%;
    align-items: center;
    top: 0;
    bottom: 0; 
  }

  /* .pad2 {
    padding: 20px;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
  } */
  
  .hero {
    position: relative; 
    display: flex;
    height: 100%;
    width: 100%;
    align-items: center;
    justify-content: center;
  }

  .hero::before {
    content: "";
    background-image: url("https://images.unsplash.com/photo-1464226184884-fa280b87c399?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80");
    background-size:cover;
    position: absolute;
    top: 0px;
    right: 20px;
    bottom: 0px;
    left: 0px;
    opacity: .25;
}

.listItems{
border-bottom: 1px solid green;
font-weight: 500;
}

.listItems1{
  font-size: 1em;
  font-weight: 500;
position: relative;
color: rgb(36, 143, 26);
line-height: 1.5;
text-align: center;
}

#marker {
  background-image: url('https://docs.mapbox.com/mapbox-gl-js/assets/washington-monument.jpg');
  background-size: cover;
  width: 100%;
  height: 100%;
  border-radius: 50%;
  cursor: pointer;
  }
   
  .mapboxgl-popup {
  max-width: 200px;
  }

/* #centerMap {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 40%;
} */

