{% load static %}

<!DOCTYPE html>
<html lang='en'>
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    {% block meta %}{% endblock %}
    <title>{% block title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body class="">
    <div class="">
        <h1>Crop Circle</h1>
        {% if user.is_authenticated %}
            <div>
                hello, {{ user.username }}!
                <a class="" href="{% url 'homepage' %}">Home | </a>
                <a class="" href="{% url 'profile' %}">Profile</a>
                <a class="" href="{% url 'auth_logout' %}"> Logout | </a>
            </div>
    </div>
        {% endif %}
    <div class=''>
        {% block content %}
        {% endblock %}
    </div>

    <div class=''>
        <h6 class=''>© 2020, Crop Circle llc. all rights reserved</h6>
    </div>
</body>

</html>