{% extends "base.html" %}
{% load static %}


{% block content %}
<body>

<!-- <div class="grid-container">
  <div class="grid-item text">
  <h4>Welcome back to your profile, {{ user.username }}!  </h4>
</div> -->


<section class="section section-icons grey lighten-4 center">
    <div class="container">
      <br class="row">
        <h4 class="center">
          <span class="green-text">Your </span>Farmstand</h4>
        <div class="col s12 m8">
          <div class="card">
             <div class='row' id='ma'>
              <div class="col s12 m6">
                      <div id='map' class='map' style='width: 700px; height: 280px;'>Map</div>
                      <script>
                      mapboxgl.accessToken = 'pk.eyJ1IjoiaGRkbCIsImEiOiJja2NtMGY1ZDgwcTZ5MnN0OGY3ajJjbW4yIn0.qHA8T449zRKiEj4SS9jnuQ';
                      var map = new mapboxgl.Map({
                      container: 'map',
                      style: 'mapbox://styles/mapbox/streets-v11',
                      center: [{{ farm.longitude}}, {{ farm.latitude }}],           
                      zoom: 11
                      });
                      map.addControl(
                        new MapboxGeocoder({
                        accessToken: mapboxgl.accessToken,
                        mapboxgl: mapboxgl
                        })
                        );
                      var marker = new mapboxgl.Marker()
                        .setLngLat([{{ farm.longitude}}, {{ farm.latitude }}])
                        .addTo(map);
                        map.addControl(
                      new mapboxgl.GeolocateControl({
                        positionOptions: {
                        enableHighAccuracy: true
                        },
                        trackUserLocation: true
                        })
                        );
                      //   stores.features.forEach(function(store, i){
                      //   store.properties.id = i;
                      // });
                      map.on('load', function() {
              // Add an image to use as a custom marker
                        map.loadImage(
                        'https://docs.mapbox.com/mapbox-gl-js/assets/custom_marker.png',
                        function(error, image) {
                        if (error) throw error;
                        map.addImage('custom-marker', image);
                        // Add a GeoJSON source with 3 points.
                        
                        
                        // Add a symbol layer
                        map.addLayer({
                        'id': 'symbols',
                        'type': 'symbol',
                        'source': 'points',
                        'layout': {
                        'icon-image': 'custom-marker'
                        }
                        });
                        }
                        );
                        
                        // Center the map on the coordinates of any clicked symbol from the 'symbols' layer.
                        map.on('click', 'symbols', function(e) {
                        map.flyTo({
                        center: e.features[0].geometry.coordinates
                        });
                        });
                        
                        // Change the cursor to a pointer when the it enters a feature in the 'symbols' layer.
                        map.on('mouseenter', 'symbols', function() {
                        map.getCanvas().style.cursor = 'pointer';
                        });
                        
                        // Change it back to a pointer when it leaves.
                        map.on('mouseleave', 'symbols', function() {
                        map.getCanvas().style.cursor = '';
                        });
                        });
                        </script> 
                      </div>
                    </div> 
                  </div>
                </div>
                <br>
              </section>

<br></br> 
<div class="container">
<section id="contact" class="section section-contact scrollspy">
  <!-- <div class="container"> -->
    <div class="row">
      <div class="col s12 m6">
        <div class="card-panel green darken-2 white-text center">
          <i class="material-icons medium">add_a_photo</i>
          <h5>Add a photo</h5>
          <p>Add a photo of your farm </p>
        </div>
      </div>
      <div class="col s12 m6">
        <div class="card-panel grey lighten-3">
          <h5>Please fill out this form</h5>
          <div class="input-field">
            <input type="text" placeholder="Name" id="name">
            <label for="name">Name</label>
          </div>
          <div class="input-field">
            <input type="email" placeholder="Email" id="email">
            <label for="email">Email</label>
          </div>
          <div class="input-field">
            <input type="text" placeholder="Phone" id="phone">
            <label for="phone">Phone</label>
          </div>
          <div class="input-field">
            <textarea class="materialize-textarea" placeholder="Enter Message" id="message"></textarea>
            <label for="message">Message</label>
          </div>
          <input type="submit" value="Submit" class="btn green darken-1">
        </div>
      </div>
    </div>
  <!-- </div> -->
</section>



<section id="search" class="input-field section section-search grey darken-1 white-text center scrollspy">
  <div class="container">
    <div class="row">
      <div class="col s12">
        <h3 class="search-text">Add your Produce</h3>
        <div class="input-field">
          <i class="small material-icons searchbox hide-on-small-only">add</i>
          <input class="white grey-text autocomplete" placeholder="Add items you want to sell" type="text" id="autocomplete-input">
        </div>
      </div>
    </div>
  </div>
</section>


<div class="collection with-header"> 
 <form>
  <div id="list1" class="dropdown-check-list" tabindex="100">
    <span class="anchor">Add an item you want to sell</span>
    <ul class="items">
      {% for ingredient in CropListView %}
        <li>
        </li>
      {% endfor %}
    </ul>
    <button class="green darken-1 btn btn-large" type=submit>Add an item you want to sell</button>
  </form>
</div>

<br></br>

<div class="collection with-header"> 
  <form>
   <div id="list1" class="dropdown-check-list" tabindex="100">
     <span class="anchor">Your Item</span>
     <ul class="items">
         <li class="collection-item"><input type="checkbox" />Carrots </li>
         <li class="collection-item"><input type="checkbox" />Brocolli</li>
         <li class="collection-item"><input type="checkbox" />Green Beans </li>
         <li class="collection-item"><input type="checkbox" />Bamboo </li>
         <li class="collection-item"><input type="checkbox" />Dinonuggets </li>
         <li class="collection-item"><input type="checkbox" />Eggplant </li>
         <li class="collection-item"><input type="checkbox" />Avocados</li>
        </ul>
      </form>
    </div>
    
  </body>

 
 <br></br>



{% endblock %}