{% extends "base.html" %}
{% load static %}

{% load render_bundle from webpack_loader %}

{% block content %}
<body>

<!-- <div class="grid-container">
  <div class="grid-item text">
  <h4>Welcome back to your profile, {{ user.username }}!  </h4>
</div> -->

<!-- image can be written in anyway -->
<img src='{{ farm.image.url }}'/>

    <div class="container">
      <br class="row">
        <h4 class="center">
          <span class="green-text">Your </span>Farmstands</h4>
        <div class="col s12 m8">
          <div class="card">
             <div class='row' id='ma'>
              <div class="col s12 m6">
                      <div id='map' class='map' style='width: 700px; height: 280px;'>Map</div>
                      <script>
                      mapboxgl.accessToken = 'pk.eyJ1IjoiaGRkbCIsImEiOiJja2NtMGY1ZDgwcTZ5MnN0OGY3ajJjbW4yIn0.qHA8T449zRKiEj4SS9jnuQ';
                      var map = new mapboxgl.Map({
                      container: 'map',
                      style: 'mapbox://styles/mapbox/streets-v11',
                      center: [-78.9013, 35.9958],           
                      zoom: 11
                      });
                      map.addControl(
                        new MapboxGeocoder({
                        accessToken: mapboxgl.accessToken,
                        mapboxgl: mapboxgl
                        })
                        );
                      var marker = new mapboxgl.Marker()
                        .setLngLat([-78.9013, 35.9958])
                        .addTo(map);
                        map.addControl(
                      new mapboxgl.GeolocateControl({
                        positionOptions: {
                        enableHighAccuracy: true
                        },
                        trackUserLocation: true
                        })
                        );
                      //   stores.features.forEach(function(store, i){
                      //   store.properties.id = i;
                      // });
                      map.on('load', function() {
              // Add an image to use as a custom marker
                        map.loadImage(
                        'https://docs.mapbox.com/mapbox-gl-js/assets/custom_marker.png',
                        function(error, image) {
                        if (error) throw error;
                        map.addImage('custom-marker', image);
                        // Add a GeoJSON source with 3 points.
                        map.addSource('points', {
                        'type': 'geojson',
                        'data': {
                        'type': 'FeatureCollection',
                        'features': [
                        {
                        'type': 'Feature',
                        'properties': {},
                        'geometry': {
                        'type': 'Point',
                        'coordinates': [
                        -78.936425,
                        36.006699
                        ]
                        }
                        },
                        {
                        'type': 'Feature',
                        'properties': {},
                        'geometry': {
                        'type': 'Point',
                        'coordinates': [
                        -78.924280,
                        36.010483
                        ]
                        }
                        },
                        {
                        'type': 'Feature',
                        'properties': {},
                        'geometry': {
                        'type': 'Point',
                        'coordinates': [
                        -78.888325,
                        35.990519
                        ]
                        }
                        },
                        {
                        'type': 'Feature',
                        'properties': {},
                        'geometry': {
                        'type': 'Point',
                        'coordinates': [
                        -78.918481,
                        35.979732
                        ]
                        }
                        },
                        {
                        'type': 'Feature',
                        'properties': {},
                        'geometry': {
                        'type': 'Point',
                        'coordinates': [
                        -78.918481,
                        35.979732
                        ]
                        }
                        },
                        {
                        'type': 'Feature',
                        'properties': {},
                        'geometry': {
                        'type': 'Point',
                        'coordinates': [
                        -78.922824,
                        35.975140
                        ]
                        }
                        },
                        {
                        'type': 'Feature',
                        'properties': {},
                        'geometry': {
                        'type': 'Point',
                        'coordinates': [
                        -78.922824,
                        35.975140
                        ]
                        }
                        },
                        ]
                        }
                        });
                        
                        // Add a symbol layer
                        map.addLayer({
                        'id': 'symbols',
                        'type': 'symbol',
                        'source': 'points',
                        'layout': {
                        'icon-image': 'custom-marker'
                        }
                        });
                        }
                        );
                        
                        // Center the map on the coordinates of any clicked symbol from the 'symbols' layer.
                        map.on('click', 'symbols', function(e) {
                        map.flyTo({
                        center: e.features[0].geometry.coordinates
                        });
                        });
                        
                        // Change the cursor to a pointer when the it enters a feature in the 'symbols' layer.
                        map.on('mouseenter', 'symbols', function() {
                        map.getCanvas().style.cursor = 'pointer';
                        });
                        
                        // Change it back to a pointer when it leaves.
                        map.on('mouseleave', 'symbols', function() {
                        map.getCanvas().style.cursor = '';
                        });
                        });
                        </script> 
                      </div>
                    </div> 
                  </div>
                </div>

<br></br> 

<div class="collection with-header"> 
 <form>
  <div id="list1" class="dropdown-check-list" tabindex="100">
    <span class="anchor">Select your fruits</span>
    <ul class="items">
      {% for ingredient in CropListView %}
        <li>
        </li>
      {% endfor %}
    </ul>
    <button class="green darken-1 btn btn-large" type=submit>update your Fruit selection</button>
  </form>
</div>

<br></br>

<div class="collection with-header"> 
  <form>
   <div id="list1" class="dropdown-check-list" tabindex="100">
     <span class="anchor">Select your vegetables</span>
     <ul class="items">
         <li class="collection-item"><input type="checkbox" />Carrots </li>
         <li class="collection-item"><input type="checkbox" />Brocolli</li>
         <li class="collection-item"><input type="checkbox" />Green Beans </li>
         <li class="collection-item"><input type="checkbox" />Bamboo </li>
         <li class="collection-item"><input type="checkbox" />Dinonuggets </li>
         <li class="collection-item"><input type="checkbox" />Eggplant </li>
         <li class="collection-item"><input type="checkbox" />Avocados</li>
     </ul>
     <button class="green darken-1 btn btn-large" type=submit>update your Veggie selection</button>
    </form>
 </div>

<!--QR code placement-->
<img src="https://api.qrserver.com/v1/create-qr-code/?data={{ farm.name }}&amp;size=100x100" alt="QR Code" title="{{ farm.name }} QR Code" />
 
 <br></br>
</body>


<!-- {% if user.is_authenticated %}
  You are logged in as {{ user }}.
  <a href="/accounts/logout/">Click here to log out.</a>

  <div>
    <div id="react-app"></div>
    <div id="farm-card"></div>
    {% render_bundle 'main' 'js' %}
     
      {{ farmstand_data|json_script:"farmstand-data" }}
  </div>

{% else %}
  You are not logged in.
  <a href="/accounts/login/">Click here to log in.</a>
{% endif %} -->


{% endblock %}