{% extends "base.html" %}
{% load static %}

{% load render_bundle from webpack_loader %}

{% block content %}
<br>
<div class='container center'>
    <div class=''>
        <h4 class='green-text'>Add a photo!</h4>
    </div>
    <div class='card-panel grey lighten-2 z-depth-5'>
        <form class="" class="input-field" id="card-form" action="{% url 'farm_image_add' farm_pk=farm.pk %}" method="POST" enctype="multipart/form-data">
            {% csrf_token %}
            {{ image_form.as_p }}
            <div>
                <button class="green input-field darken-3 btn-large " type="submit"><i class='material-icons left'>add_to_photos</i>Add Photo</button>
            </div>
        </form>
    </div>
</div>
<br>
{% endblock %}