{% extends "base.html" %}
{% load static %}

{% load render_bundle from webpack_loader %}
{% block content %}
<br>
<div class='container center'>
  <div class='card-panel grey lighten-2 z-depth-5'>
    <form action="{% url 'farm_delete' farm_pk=farm.pk %}" method="POST">
      {% csrf_token %}
      <h5 class='green-text'>Are you sure you want to delete this farm?</h5>

      <div>
        <button class='waves-effect waves-light btn-small green' type="submit"><i class='material-icons left'>delete</i>delete</button>
        <button class='waves-effect waves-light btn-small green'><a  href="{% url 'farm_detail' farm_pk=farm.pk %}" class='white-text'><i class='material-icons left'>do_not_disturb_alt</i>Cancel</a></button>
      </div>
    </form>
  </div>
</div>
<br>
{% endblock %}