{% extends "base.html" %}

{% block content %}

<div class='row' id='ma'>
    <div class="col s12 m6">
        <div class="card">
            <p class='card-title'>Farmstands near you!</p>
            <div id='map' style='width: 300px; height: 300px;'></div>
            <script>
            mapboxgl.accessToken = 'pk.eyJ1IjoiaGRkbCIsImEiOiJja2NtMGY1ZDgwcTZ5MnN0OGY3ajJjbW4yIn0.qHA8T449zRKiEj4SS9jnuQ';
            var map = new mapboxgl.Map({
            container: 'map',
            style: 'mapbox://styles/mapbox/streets-v11',
            center: [-78.9013, 35.9958],           
            zoom: 11
            });
            var marker = new mapboxgl.Marker()
              .setLngLat([-78.9013, 35.9958])
              .addTo(map);
            </script> 
        </div>
    </div>
</div>  
    
    
    <div class="row">
        <div class="col s12 m6">
          <div class="card">
            <div class="card-image">
              <img src="https://images.unsplash.com/photo-1464226184884-fa280b87c399?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1050&q=80">
              <span class="card-title"><a class="waves-effect waves-light btn-large">Farmville Farms</a></span>
              <a class="btn-floating halfway-fab waves-effect waves-light red"><i class="material-icons">favorite</i></a>
            </div>
            <div class="card-content">
              <p>I am a very simple card. I am good at containing small bits of information. I am convenient because I require little markup to use effectively.</p>
            </div>
          </div>
        </div>
      </div>

    </h4>

</div>
{% endblock %}