{% extends "base.html" %}
{% load static %}


{% block content %}
<section class="section section-icons green lighten-5 center">
<div class="container">
    <h4 class="center"><span class="green-text">{{ offsite.farm.name }}</span> Farms</h4>
    <h5>{{offsite.name}}</h5>
    <p>{{offsite.street_address}}</p>
    <p>{{offsite.city}}, {{offsite.state}} {{offsite.zip_code}}</p> 
    <br>
    <div class="row">
        <div class="col s12">
            <div class="card-panel map z-depth-4 pad2">
                <div id="map" style='height:280px;'>Map</div>
                    <script>
                    mapboxgl.accessToken = 'pk.eyJ1IjoiaGRkbCIsImEiOiJja2NtMGY1ZDgwcTZ5MnN0OGY3ajJjbW4yIn0.qHA8T449zRKiEj4SS9jnuQ';
                    var map = new mapboxgl.Map({
                    container: 'map',
                    style: 'mapbox://styles/mapbox/streets-v11',
                    center: [{{ offsite.longitude }}, {{ offsite.latitude }}],         
                    zoom: 11
                    });
                    
                    map.addControl(
                        new MapboxGeocoder({
                        accessToken: mapboxgl.accessToken,
                        mapboxgl: mapboxgl
                        })
                        );
                    var marker = new mapboxgl.Marker()
                    .setLngLat([{{ offsite.longitude}}, {{ offsite.latitude }}])
                        .addTo(map);
                        map.addControl(
                    new mapboxgl.GeolocateControl({
                        positionOptions: {
                        enableHighAccuracy: true
                        },
                        trackUserLocation: true
                        })
                        );
                    //   stores.features.forEach(function(store, i){
                    //   store.properties.id = i;
                    // });
                    map.on('load', function() {
            // Add an image to use as a custom marker
                        map.loadImage(
                        'https://docs.mapbox.com/mapbox-gl-js/assets/custom_marker.png',
                        function(error, image) {
                        if (error) throw error;
                        map.addImage('custom-marker', image);
                        // Add a GeoJSON source with 3 points.
                        map.addSource('points', {

                        'type': 'geojson',
                        'data': {
                        'type': 'FeatureCollection',
                        'features': [

                        {% for offsite in offsites.all %}
                        {
                        'type': 'Feature',
                        'properties': {
                        'description':
                            '<strong><a href="{% url 'offsite_detail' offsite_pk=offsite.pk %}" target="_blank" title="Opens in a new window">{{offsite.name}}</a></strong><p> {{offsite.street_address}} {{offsite.street_address_line_2}}, {{offsite.city}}, {{offsite.state}}, {{offsite.zip_code}}</p><p><b>Click on the stand in the list to learn more!<b></p>',
                        'icon': 'theatre'
                        },
                        'geometry': {
                        'type': 'Point',
                        'coordinates': [
                        {{offsite.longitude}},
                        {{offsite.latitude}}
                        ]
                        }
                        },{% endfor %}
                        ]
                        }
                        });
                        // Add a symbol layer
                        map.addLayer({
                        'id': 'symbols',
                        'type': 'symbol',
                        'source': 'points',
                        'layout': {

                        'icon-image': 'custom-marker',
                        'icon-allow-overlap': true
                        }
                        });
                        
                        map.on('mouseenter', 'symbols', function(e) {
                        // Change the cursor style as a UI indicator.
                        map.getCanvas().style.cursor = 'pointer';
                        
                        var coordinates = e.features[0].geometry.coordinates.slice();
                        var description = e.features[0].properties.description;
                        
                        // Ensure that if the map is zoomed out such that multiple
                        // copies of the feature are visible, the popup appears
                        // over the copy being pointed to.
                        while (Math.abs(e.lngLat.lng - coordinates[0]) > 180) {
                        coordinates[0] += e.lngLat.lng > coordinates[0] ? 360 : -360;
                        }
                        
                        // Populate the popup and set its coordinates
                        // based on the feature found.
                        popup
                        .setLngLat(coordinates)
                        .setHTML(description)
                        .addTo(map);
                        });
                        map.on('mouseleave', 'symbols', function() {
                            map.getCanvas().style.cursor = '';
                            popup.remove();
                            });
                        }
                        );
                        var popup = new mapboxgl.Popup({
                        closeButton: false,
                        closeOnClick: false
                        });
                        });
                    </script> 
                </div>
            </div> 
        </div>
    </div>
</div>
</section>
<div class="col s12 m6">
  <div class="container">
    <div class="card-panel grey lighten-3">
      {% if user.is_authenticated %}
      <section id="search" class="input-field section section-search grey darken-1 white-text center scrollspy">
        <div class="container">
          <div class="row">
            <div class="col s12">
              <h3 class="search-text">Add Produce</h3>
              <p><a class="white-text" id="show-card-form" href="{% url 'offsite_crop_create' offsite_pk=offsite.pk %}"><i class="small material-icons searchbox">add</i></a></p>
              <form class="hide" class="input-field" id="card-form" action="{% url 'offsite_crop_create' offsite_pk=offsite.pk %}" method="POST">
                {% csrf_token %}
                {{ form.as_p }}
                <div><button class="green input-field darken-3 btn " type="submit">Add</button></div>
              </form>
            </div>
          </div>
        </div>
      </section>
      {% endif %}
    <br>      
    <div class="collection with-header"> 
      <form>
        <h4 class="center">
          <span class="green-text">Items</span> for Sale</h4>
        <div id="list1" class="dropdown-check-list" tabindex="100">
          <ul class="items center">
            {% for crop in offsite.offsite_crops.all %}
            <li class="produce-items"></li><h5>{{ crop.item }}
              {% if user.is_authenticated %}
              <a href="{% url 'offsite_crop_create' offsite_pk=offsite.pk %}" class=""><i class="small material-icons searchbox blue-text">edit</i></a>
                <a href="{% url 'offsite_crop_create' offsite_pk=offsite.pk %}" class=""><i class="small material-icons searchbox red-text">delete</i></a>
              {% endif %}
            
              </h5>
            </li>
            {% endfor %}
          </ul>
        </form>
      </div>
    </div>
  </div>
</div>

<script>
  document.addEventListener('DOMContentLoaded', () => {
    document.querySelector('#show-card-form').addEventListener('click', event => {
      event.preventDefault()
      document.querySelector('#card-form').classList.remove('hide')
    })
  })  
</script>

{% endblock %}