{% extends "base.html" %}
{% load static %}

{% block content %}
<div class="container">
  <h1>Search farms</h1>

  <form action="{% url 'search' %}" method="GET">
    <input type="search" name="q" placeholder="Search all farms" value="{{ query }}">
    <p>
      <button class="input-field green darken-3 btn " type="submit">Search</button>
    </p>
  </form>


  {% if farms is not None %}
  <ul>
    {% for farm in farms %}
      <li><a href="{% url 'farm_detail' farm_pk=farm.pk %}">{{ farm.name }}</a></li>
    {% empty %}
      <li class="text-red">There are no farms that match that query.</li>
    {% endfor %}
  </ul>
  </div>
{% endif %}
{% endblock %}